/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*   Proyect: Chokolade La Plata                                      *
*   Author: DGR Development & Design                                 * 
*   Support: development_dgr@gmail.com                               *
*   Version: 1.0                                                     *
*                                                                    *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

   -----------------------------------------------------------------------------------

/* * * * * TABLE OF CONTENTS * * * * * 

    01. Backgrounds
    02. Navigation bar
    03. Titles & subtitles
    04. Texts
    05. Images
    06. Extras
    07. Footer
    08. Mask code (Index)
    09. Mask code (Desayunos/Kits)
    10. Mask code (salados)
    11. Mask code (Global)
    12. Media Queries


 * * * * * * * * * * * * * * * * * * */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Righteous&family=Tangerine:wght@400;700&display=swap');

/*----------------------------------------*/
/*  01. Backgrounds
/*----------------------------------------*/

.colorFondo {
    background: -webkit-linear-gradient(to bottom, rgb(216, 200, 250), white);
    background: linear-gradient(to bottom, rgb(216, 200, 250), white);
}
.fondoSM {
    font-weight: bold;
}

.fondoSM:hover {
    background-color: #dbdbdb;
    font-weight: bold;
}

.fondo {
    background-color: #FFF;
}

/*----------------------------------------*/
/*  02. Navigation Bar
/*----------------------------------------*/

nav {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-family: 'Cormorant Infant', serif;
    font-weight: bold;
}

.menu {
    padding-right: 15%;
    font-size: 0.9em;
}

.submenu_font {
    font-size: 0.9em;
}

.submenu:focus {
    outline: none;
}

/*----------------------------------------*/
/*  03. Titles & subtitles
/*----------------------------------------*/

.title_index, .title1 {
    color: rgb(221, 53, 118);
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    font-size: 3em;
    font-weight: bold;
}

.title2 {
    font-family: 'Cormorant Infant', serif;
    font-size: 2.3em;
    padding-top: 5px;
    color: rgb(93, 8, 135);
    text-align: center;
    font-weight: 700;
}

.title_D {
    font-family: 'Cormorant Infant', serif;
    font-size: 2em;
    padding-top: 5px;
    color: rgb(93, 8, 135);
    text-align: center;
    font-weight: 700;
}

.title_sp {
    font-family: 'Cormorant Infant', serif;
    font-size: 2.2em;
    padding-top: 5px;
    color: rgb(93, 8, 135);
    text-align: center;
    font-weight: 700;
}

.subtitle_sp {
    color: rgb(93, 8, 135);
    font-family: 'Cormorant Infant', serif;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.subtitle_index {
    font-family: 'Cormorant Infant', serif;
    color: blueviolet;
    font-size: 2em;
}

.subtitle1 {
    color: rgb(93, 8, 135);
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
}

.subtitle2 {
    color: rgb(93, 8, 135);
    font-family: 'Cormorant Infant', serif;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.subtitle_D {
    color: rgb(93, 8, 135);
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
}

/*----------------------------------------*/
/*  04. Texts
/*----------------------------------------*/

.texto, .texto_D {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.texto_DP {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

/*----------------------------------------*/
/*  05. Images
/*----------------------------------------*/

.fotos {
    border-radius: 15%;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
}

.img-foto:focus {
    outline: none;
}

/*----------------------------------------*/
/*  06. Extras
/*----------------------------------------*/

.li {
    list-style: url(../images/flor.png);
}

.linea {
    height: 10px;
    background-color: rgb(239, 227, 250);
    width: 80%;
    border-style: solid;
    border-radius: 100%;
}

.boton {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid;
    border-radius: 50px;
    border-color: rgb(160, 73, 231);
    background-color: rgb(160, 73, 231);
    color: white;
    height: 33px;
    width: 130px;
    word-spacing: 5px;
    font-size: 1.1em;
}

.up {
    border: 1px solid;
    border-radius: 100px;
    border-color: rgb(160, 73, 231);
    background-color: rgb(160, 73, 231);
    color: white;
    height: auto;
    width: auto;
    padding: 5px 15px;
    font-size: 1.4em;
}

#link-dulce {
    text-decoration: none;
    color: rgb(138, 14, 240);
}

#link-dulce:hover {
    text-decoration: none;
    color: grey;
}

.link-collapse {
    height: 15px;
}

.abajo {
    font-size: 0.5em;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

/*----------------------------------------*/
/*  07. Footer
/*----------------------------------------*/

.footer-pie {
    background-color: rgb(160, 73, 231);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.link-Social {
    color: white;
}

.link-Social:hover {
    color: grey;
}

.social {
    display: flex;
    flex-flow: row;
}

/*----------------------------------------*/
/*  08. Mask code (Index)
/*----------------------------------------*/

.maskContainer_index {
    display: flex;
    justify-content: center;
}

.mask_index {
    width: fit-content;
    overflow: hidden;
    text-align: center;
}

.img_mask_index {
    transition: 0.5s;
    object-fit: cover;
}

.img_mask_index:hover {
    transform: scale(1.1);
}

/*----------------------------------------*/
/*  09. Mask code (Desayunos/Kits)
/*----------------------------------------*/

.maskContainer_breakfast {
    display: flex;
    justify-content: center;
}

.mask_breakfast {
    border-radius: 15%;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    overflow: hidden;
    text-align: center;
}

.img_mask_breakfast {
    border-radius: 15%;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    object-fit: cover;
}

.img_mask_breakfast:hover {
    transform: scale(1.1);
}

/*----------------------------------------*/
/*  10. Mask code (Salados)
/*----------------------------------------*/

.maskContainer_salados {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mask_salados {
    width: 270px;
    height: 270px;
    overflow: hidden;
    text-align: center;
}

.mask_salados_text {
    width: 270px;
    height: 80px;
    overflow: hidden;
    text-align: center;
}

.img_mask_salados {
    transition: 0.5s;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
}

/*----------------------------------------*/
/*  11. Mask code (Global)
/*----------------------------------------*/

.maskContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mask {
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

.mask_FS {
    border-radius: 10%;
    width: fit-content;
    overflow: hidden;
    text-align: center;
}

.img_mask_FS {
    border-radius: 10%;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    object-fit: cover;
}

.img_mask {
    transition: 0.5s;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
}

.img_mask:hover, 
.img_mask_FS:hover, 
.img_mask_salados:hover {
    transform: scale(1.1);
}

/*----------------------------------------*/
/*  12. Media queries
/*----------------------------------------*/


/* Tama単o Extra-chico */
@media (max-width: 575.98px) {

    .texto_D {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9em;
    }

    .texto_DP {
        font-size: 0.9em;
    }

    .title_sp {
        font-size: 2em;
    }

    .title2 {
        padding-top: 30px;
    }

    .title_index {
        font-size: 2.1em;
    }
    .title_D {
        padding-top: 20px;
    }
    .subtitle_index {
        font-size: 1.5em;
    }

    .nav-kit {
        font-size: 1.1em;
    }

    .fondo {
        background: -webkit-linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
        background: linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
    }

    .menu {
        font-size: 0.5em;
        padding-right: 5%;
    }
    .submenu_font {
        font-size: 0.9em;
    }

    .title1 {
        font-size: 2.7em;
    }


}

/* tama単o sm */
@media (min-width: 576px) and (max-width: 767.98px) {

    .title1 {
        font-size: 2.7em;
    }

    .subtitle_D {
        font-size: 1.3em;
    }

    .title_D {
        padding-top: 20px;
    }
    
    .title_index, .subtitle_index {
        font-size: 2.3em;
    }

    .subtitle_index {
        font-size: 1.6em;
    }

    .nav-kit {
        font-size: 1.2em;
    }

    .menu {
        font-size: 0.7em;
        padding-right: 5%;
    }

    .submenu_font {
        font-size: 0.8em;
    }

    .fondo {
        background: -webkit-linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
        background: linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
    }

}

/* Tama単o md */
@media (min-width: 768px) and (max-width: 991.98px) {

    nav {
        font-size: 1.2em;
        letter-spacing: 1px;
        font-family: 'Cormorant Infant', serif;
        font-weight: bold;
    }

    .title_D {
        font-size: 1.9em;
    }

    .subtitle_D {
        font-size: 1.3em;
    }

    .texto {
        font-size: 0.8em;
    }

    .title1 {
        font-size: 2.8em;
    }

    .title_index {
        font-size: 2.3em;
    }

    .subtitle_index {
        font-size: 1.7em;
    }

    .subtitle2 {
        font-size: 1.3em;
    }

    .title_sp {
        font-size: 2em;
    }
    
    .subtitle_sp {
        font-size: 1.5em;
    }

    .title2 {
        padding-top: 50px;
    }

    .menu {
        padding-right: 1%;
    }
}

/* Tama単o grande */
@media (min-width: 992px) and (max-width: 1199.98px) {


    .title_index{
        font-size: 2.5em;
    }

    .subtitle_index{
        font-size: 1.8em;
    }

    .title2 {
        padding-top: 30px;
    }

    .title_sp {
        font-size: 2em;
    }
    
    .subtitle_sp {
        font-size: 1.5em;
    }

    .fondo {
        background: -webkit-linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
        background: linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
    }

    .menu {
        padding-right: 5%;
    }
}